python-afl
llvm2py
fuzzable
pytrace 
bitcoinlib
requests
cryptography
ecdsa 
flask
flask-restful
flask-jwt-extended 
pyyaml
toml
transformers
torch 
os11
argparse3
pycopy-concurrent.futures
pytest
coverage
logging